:root {
    --light-grey: #ececec;
    --dark-grey: #383838;
    --forest-green: #137217;
}

.navbar {
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--dark-grey);
}

.nav-btn {
    display: flex;
    border-radius: 50%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--light-grey);
    color: var(--dark-grey);
    font-size: 2em;
    width: 10vw;
    height: 10vw;
    font-weight: 900;
    cursor: pointer;
}

