:root {
    --light-grey: #ececec;
    --dark-grey: #383838;
    --forest-green: #137217;
}

/* .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.greeting-text {
    color: var(--light-grey);
    font-size: 3em;
    font-weight: bolder;
}

.avatar {

    margin: 2%;
}


@media only screen and (max-device-width:600px) and (orientation: portrait) {
    .avatar {
        width: 80%;
    }
}