:root {
    --light-grey: #ececec;
    --dark-grey: #383838;
    --forest-green: #137217;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--light-grey);
    font-size: 3em;
    font-weight: bolder;
}

img {
    margin: 2%;
}