:root {
    --light-grey: #ececec;
    --dark-grey: #383838;
    --forest-green: #137217;
}

.bg {
    background-color: var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85vw;
    height: 100vh;
}

.content {
    background-color: var(--forest-green);
    border-radius: 30px;
    width: 95%;
    min-height: 90vh;
}