* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
  font-family: 'Poiret One', serif;
  display: flex;
  flex-direction: row;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

input, select, option, optgroup, textarea, button,
pre, code {
  font-size: 100%;
  font-family: inherit;
}

ol, ul {
  list-style: none;
}

/* @media screen and (max-width: 1250px) {
  body {
    flex-direction: column;
  }
} */

@media all and (min-device-width:601px) and (orientation: landscape) {
  .app-body {
      flex-direction: row;
  }
}


@media only screen and (max-device-width:600px) and (orientation: portrait) {
  .app-body {
      flex-direction: column;
  }
}

