:root {
    --light-grey: #ececec;
    --dark-grey: #383838;
    --forest-green: #137217;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 2%;
}

p {
    color: var(--light-grey);
    margin: 1% 5%;
    font-size: 2em;
}